@model List<Student>
@{
    ViewData["Title"] = "Student List";
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    {
    <tr>
        <td>@student.Name</td>
        <td>@student.Age</td>
        <td>@student.Grade</td>
        <td>@student.Email</td>
        <td>
            <a href="@Url.Action("Edit", "Student", new { id = student.Id })" class="link-warning">
                Edit
            </a>

            <a href="@Url.Action("DeleteStudent", "Student", new { id = student.Id })" class="link-danger">
                Delete
            </a>
        </td>
    </tr>
    }
    <tr>
        <form asp-action="SaveStudent" method="post">
            <td>
                <input type="hidden" id="Id" name="Id"/>
                <input type="text"  id="Name" name="Name"  required placeholder="Name" class="form-control"/>
            </td>
        <td>
            <input type="number" id="Age" name="Age" required placeholder="Age" class="form-control"/>
        </td>
        <td>
            <input type="text" id="Grade" name="Grade" placeholder="Grade" class="form-control"/>
        </td>
        <td>
            <input type="email" id="Email" name="Email" placeholder="Email" class="form-control"/>
        </td>
        <td>
            <button type="submit" class="btn btn-primary">Add Student</button>
        </td>
        </form>
    </tr>
    </tbody>
</table>




    
